#OurPartners {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

#OurPartners .content-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#OurPartners .rotate-div {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3vw;
  width: 200vw;
  height: 200vh;
  background-color: #000;
  scale: 1;
}

#OurPartners .row-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100%;
}

#OurPartners .img-div {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

#OurPartners .img-div img {
  width: 100%;
}

#OurPartners #row-div-2 {
  margin-top: 13%;
}

#OurPartners #row-div-3 {
  margin-top: 10%;
}
#OurPartners #row-div-4 {
  margin-top: 8%;
}
#OurPartners #row-div-5 {
  margin-top: 5%;
}

#OurPartners .overlay-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00000000;
  font-size: 5vw;
}
#OurPartners .overlay-div h1 {
  opacity: 0;
  font-family: wush;
}
#OurPartners .overlay-div h1 span {
  font-family: wush;
  color: #8cff00;
}

#OurPartners .scroll-down {
  position: absolute;
  bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  color: #fff;
}

#OurPartners .scroll-down h3 {
  font-size: 0.7vw;
}

#OurPartners .scroll-p {
  width: 6vw;
  height: 2px;
  border-radius: 50px;
  background-color: #ffffff55;
}

#OurPartners .scrolling {
  width: 0vw;
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
}

@media screen and (max-width: 450px) {
  #OurPartners .img-div {
    height: 150px;
  }
}
