* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: bandico;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #000000;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  display: none;
  width: 5px; /* or your desired width */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #000000; /* red background for the track */
}

/* Thumb (draggable part) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #51ff00;
  border-radius: 6px;
}

/* Optional: style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #71ff54;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: block;
  width: 5px; /* or your desired width */
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #16a085;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}

.grow,
.grow-small {
  transform: scale(5);
  background: #fff;
  mix-blend-mode: difference;
  border: none;
}
.grow-small {
  transform: scale(2.5);
}
